// import any scss files you create (in the public/scss folder) here so your application can use them!

// Learn SASS Documentation: https://sass-lang.com/guide
// SASS Reference: https://sass-lang.com/documentation/file.SASS_REFERENCE.html

// See an example import below
// @import './component.scss';

.header {
  display: flex;
  flex: 1;
  width: 90vw;
}

.additional-charges {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  overflow: hidden;
  padding-bottom: 15px;
}

.navLoginButton {
  display: flex;
  flex: 1;
  width: 5vw;
  height: 7vh;
}

.link-text {
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.nav-buttons {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}

.navvy {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex: 1;
  flex-direction: row;
  position: absolute;
  margin: auto;
  align-items: flex-start;
  justify-content: flex-start;
  top: 0;
  padding: 10px;
}

.loginButton {
  width: 15vw
}

.login {
  display: flex;
  flex: 0;
  width: 20vw;
  height: 30vh;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  margin: auto;
  top: 40%;
  left: 40%;
  position: absolute;
}

body {
  font-family: sans-serif;
background-color:#f7f7f7;
  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}
